body{background-image: url('../img/fundo.jpg');
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;}

.container-livro{max-width: 500px;
                width: 100%;
                background:rgb(247, 247, 247);
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.53);}

@media(max-width: 768px) 
{
    .container-livro{width: 80%;}
}

.card{border-radius: 10px;
        text-align: center;
        font-size: 20px;}

label{font-weight: bold;}
                                                
.alert{text-align: center;
        margin-top: 10px;}