body{background-image: url('../img/fundo.jpg');
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;}

.login-container{width: 100%;
                max-width: 425px;
                background-color: rgb(255, 255, 255);
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.53);}

.card{text-align: center;
      font-size: 18px;}

label{font-weight: bold;}

.senha-container {position: relative;}

.senha-container input {padding-right: 2.5em;}

.senha-container .olho {position: absolute;
                        top: 70%;
                        right: 10px;
                        transform: translateY(-50%);
                        cursor: pointer;
                        font-size: 1.2em;
                        color: #666;}