body{background-image: url('../img/fundo.jpg');
        background-size:cover;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;}

.container{max-width: 350px;
        width: 100%;
        background:rgb(247, 247, 247);
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.53);}

label{font-weight: bold;}

.btn-secondary{background-color:rgb(104, 102, 96);
            border-color: black;
            color: white;}

.btn-secondary:hover{background-color:rgb(68, 68, 66);
                   border-color: black;}

.btn-success {background-color: #28a745;
            border-color: black;
            color: white;}

.btn-success:hover{background-color: #218838;
                   border-color: black;}
                                                
.alert{text-align: center;
        margin-top: 10px;}