body {background-image: url('../img/fundo.jpg');
      background-size:cover;
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      color: #333;}

main {max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}

h1{text-align: center;
    color: #333;}
        
p{line-height: 1.6;
  margin-bottom: 15px;}
        
ul{margin-left: 20px;}

@media(max-width: 768px)
{
  main{margin: 20px;
       padding: 25px;}
}